.remoji_bar {
	margin-bottom: 4px;
	margin-right: 4px
}

#remoji_error_bar {
	color: red;
	font-size: 12px;
	display: none;
	margin-bottom: 4px;
	vertical-align: middle;
}

.remoji_container {
	font-size: 16px;
	line-height: 16px;
	padding: 4px 6px;
	display: inline-flex;
	align-items: center;
	vertical-align: top;
	background: rgba(29,28,29,.04);
	border: none;
	border-radius: 12px;
	margin-right: 4px;
	margin-bottom: 4px;
	cursor: pointer;
}

.remoji_container img {
	width: 16px;
}

.remoji_add_container {
	cursor: pointer;
	font-size: 11px;
	line-height: 16px;
	padding: 4px 6px;
	vertical-align: top;
	background: rgba(29,28,29,.04);
	border: none;
	border-radius: 12px;
	margin-right: 5px;
	margin-bottom: 5px;
	padding: 2px 6px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 34px
}

.remoji_container:hover, .remoji_add_container:hover {
	--saf-0: rgba(29,28,29,0.5);
	box-shadow: inset 0 0 0 1px var(--saf-0);
	background: rgba(255,255,255,1);
}

.remoji_add_icon {
	width: 20px;
	height: 20px;
	display: flex;
	border-radius: 12px;
}

.remoji_add_icon:before {
	content: '';
	background: url( '../img/add-reaction.svg' ) center center no-repeat;
	width: 16px;
	height: 16px;
	margin: auto;
}

.remoji_add_container:focus .remoji_add_icon:before, .remoji_add_container:hover .remoji_add_icon:before {
	background-color: rgba(242,199,68,1);
	border-radius: 25px;
}

.remoji_count {
    color: rgba(29,28,29,1);
    padding: 0 1px 0 3px;
}

#remoji_panel {
	position: absolute;
	--saf-0:rgba(29,28,29,0.13);box-shadow: 0 0 0 1px var(--saf-0),0 4px 12px 0 rgba(0,0,0,.12);
	background-color: rgba(248,248,248,1);
	border-radius: 6px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	max-height: calc(100vh - 20px);
	padding: .1px 0;

	display: none;
	margin-left: 31px;
	margin-top: -12px;
	width: 350px;
	z-index: 1012;
	font-size: .95rem;
	line-height: 1rem;
	vertical-align: top;
	color: rgba(29,28,29,1);

	overflow: hidden;
}

.remoji_picker_list {
	max-height: 270px;
	overflow-y: auto;
	overflow-x: hidden;
	background: rgba(255,255,255,1);
	border-right: 0;
	position: relative;
	padding: 33px 0 0 8px;
	margin-top: -33px;
	min-height: 270px;
	white-space: nowrap;
}

.remoji_picker_list_scroller {
	outline: none;
	box-sizing: border-box;
	direction: ltr;
	position: relative;
	width: 352px;
	will-change: transform;
	overflow: auto;
}

.remoji_picker_row {
	height: 33px;
	left: 0px;
	position: absolute;
	width: 100%;
}

.remoji_picker_item {
	border-color: transparent;
	font-size: 20px;
	text-align: center;
	line-height: 21px;
	width: 36px;
	height: 32px;
	/*margin: 0 1px -1px 0;*/
	float: none;
	display: inline-block;
	text-shadow: 0 1px #fff;
	padding: 4px 0 3.2px 0;
	font-weight: 400;
	text-decoration: none;
	overflow: hidden;
	border-radius: 6px;
	background: transparent;
	cursor: pointer;
	transition: background .15s ease-out .05s;
}

.remoji_picker_item:hover {
	text-decoration: none;
	overflow: hidden;
	transition: background .05s ease-out;
}

.remoji_picker_item img {
	overflow: hidden;
	display: inline-flex;
	vertical-align: top;
	align-items: center;
	object-fit: contain;
	width: 22px;
	height: 22px;
}

[data-remoji-color="0"]:hover {
	background: rgba(155,223,88,.7)
}

[data-remoji-color="1"]:hover {
	background: rgba(149,211,254,.7)
}

[data-remoji-color="2"]:hover {
	background: rgba(247,233,34,.7)
}

[data-remoji-color="3"]:hover {
	background: rgba(238,166,252,.7)
}

[data-remoji-color="4"]:hover {
	background: rgba(255,213,143,.7)
}

[data-remoji-color="5"]:hover {
	background: rgba(211,209,255,.7)
}

.remoji_picker_footer {
	background: rgba(248,248,248,1);
	padding-bottom: .4rem;
	border-top: 1px solid rgba(0,0,0,.15);
	position: relative;
	padding: .3rem 0 0 .7rem;
	display: flex;
}

#remoji_preview {
	font-size: 2rem;
	height: 54px;
	line-height: 2rem;
	padding: .7rem .5rem 0 .1rem;
	vertical-align: middle;
	width: 46px;
}

#remoji_preview_text {
	font-size: 1.8rem;
	padding: .6rem .7rem .8rem .8rem;
	background: rgba(248,248,248,1);
	color: rgba(97,96,97,1);
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.remoji_picker_handy {
	position: absolute;
	bottom: 1px;
	right: 3px;
}

